@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Raleway:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Oswald', sans-serif;
}
li, p, a, label, input, td, th {
    font-family:'Raleway', sans-serif;
}
#navigation {
    width:85%;
    margin:1em auto;
    overflow:auto;
}
#navigation a {
    text-decoration:none;
}
#navigation li {
    list-style:none;
}
#navigation h1 {
    float:left;
    width:50%;
    text-transform:uppercase;
}
#navigation h1 a {
    font-family:'Oswald', sans-serif;
    color:#96746b;
}
#navigation ul {
    float:left;
    width:50%;
    text-align:right;
    margin-top:1em;
}
#navigation ul li {
    display:inline-block;
    margin-left:1em;
    font-weight:700;
}
#navigation ul li a {
    color:#19100F;
}

#banner {
    width:100%;
    height:670px;
    background-image:url('images/banner-bg.jpg');
    background-position:center center;
    background-size: cover;
    position:relative;
}
#banner h2 {
    color:#c7a17a;
    font-size:4em;
    text-transform:uppercase;
}
#banner h2 span {
    color:#96746b;
}
.banner-text {
    color:#fff;
    width:45%;
    position:absolute;
    top:50%;
    left:7.5%;
    transform:translateY(-50%);
}
.banner-text a {
    color:#fff;
    font-weight:700;
    text-decoration:none;
    padding:1em;
    background-color:#312a26;
    margin-top:1em;
    display:inline-block;
}

.ads {
    width:85%;
    margin:4em auto;
    overflow:auto;
}
.ads-item {
    width:48.5%;
    float:left;
    margin-right:3%;
    height:350px;
    background-size:cover;
    background-position:center center;
    position:relative;
}
.ads-item1 {
    background-image:url('images/ads-img1.jpg');
}
.ads-item2 {
    background-image:url('images/ads-img2.jpg');
    margin-right:0;
}
.ads-text h3 {
    color:#fff;
    font-size:2em;
    text-transform:uppercase;
    text-shadow:4px 4px 7px #312a26;
    line-height:1.2em;
    margin-bottom:0.4em;
}
.ads-text a {
    color:#fff;
    font-weight:700;
    text-transform:uppercase;
    text-shadow:3px 3px 5px #312a26;
}
.ads-text {
    width:40%;
    position:absolute;
    top:50%;
    left:10%;
    transform:translateY(-50%);
}

.section-header {
    text-align:center;
}
.section-header p {
    color:#c7a17a;
    font-style:italic;
}
.section-header h2 {
    color:#19100F;
    text-transform:uppercase;
}
.section-header hr {
    background-color:#c7a17a;
    height:2px;
    width:25%;
    margin:0 auto 2em auto;
}
.merch-item img {
    height:350px;
    width:100%;
    object-fit:cover;
}
.merch-item p, .merch-item span {
    font-weight:500;
}
.merch-item {
    float:left;
    width:24.25%;
    margin-right:1%;
    margin-bottom:1%;
}
.merch-gallery :nth-child(4), .merch-gallery :nth-child(8) {
    margin-right:0;
}
.merch-gallery :nth-child(5) {
    clear:left;
}
.merch {
    width:85%;
    margin:1em auto;
    overflow:auto;
}

.discount {
    width:85%;
    height:350px;
    margin:4em auto;
    color:#fff;
    background-image:url('images/discount-img.jpg');
    background-size:cover;
    background-position:center center;
    position:relative;
}
.discount-text p {
    font-style:italic;
    text-shadow:3px 3px 6px #312a26;
}
.discount-text h2 {
    text-transform:uppercase;
    text-shadow:4px 4px 7px #312a26;
    font-size:2em;
}
.discount-text a {
    text-decoration:none;
    color:#19100F;
    background-color:#fff;
    padding:1em;
    display:inline-block;
    font-weight:700;
    opacity:50%;
    margin-top:1em;
}
.discount-text {
    text-align:center;
    width:50%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%); /* translate(X,Y);     */
}

.ads-item3 {
    background-image:url('images/ads-img3.jpg');
    margin-bottom:3%;
}
.ads-item4 {
    background-image:url('images/ads-img4.jpg');
    margin-right:0;
    margin-bottom:3%;
}
.ads-item5 {
    background-image:url('images/ads-img5.jpg');
    clear:left;
}
.ads-item6 {
    background-image:url('images/ads-img6.jpg');
    margin-right:0;
}

#reservation {
    width:85%;
    margin:2em auto;
    overflow:auto;
}
.form-group {
    float:left;
    width:48.5%;
    margin-right:1%;
    font-weight:700;
    height:650px;
    background-color:#f2f2f2;
    padding:2em;
}
.form-group2 {
    margin-right:0;
}
.form-group label, .form-group input, 
.form-group textarea, .form-group select {
    display:block;
    width:100%;
}
.form-group input, 
.form-group textarea, .form-group select {
    padding:1em;
    margin-bottom:1em;
}
.form-group label {
    padding-bottom:0.5em;
}
.form-group p, .form-group h3 {
    text-align:center;
    padding:1em;
}
#time-group {
    text-align:center;
}
#time-group input, #time-group label {
    display:inline;
    width:auto;
}

.form-group h3 {
    text-transform:uppercase;
}
.form-group h3::after {
    content:"";
    width:150px;
    height:30px;
    background-image:url('images/reservation-cards.png');
    background-size:contain;
    background-repeat:no-repeat;
    display:block;
    margin:auto;
}

#terms-group label, #terms-group input {
    width:auto;
    display:inline;
}

form input[type="submit"] {
    text-transform:uppercase;
    font-weight:700;
    background-color:#c7a17a;
    margin-top:0.5em;
}

#footer {
    width:100%;
    background-image:url('images/footer-img.jpg');
    background-size:cover;
    background-position:center center;
    padding:2em 0;
    margin-top:4em;
}
.footer-content {
    width:85%;
    margin:0 auto;
    overflow:auto;
}
.footer-widget {
    width:22.75%;
    margin-right:3%;
    float:left;
}
.footer-content :nth-child(4) {
    margin-right:0;
}
.footer-content h3 {
    text-shadow:3px 3px 6px #312a26;
    color:#fff;
    text-transform:uppercase;
    padding:1em 0;
}
.footer-content td, .footer-content th {
    text-shadow:2px 2px 3px #312a26;
    color:#fff;
}
.footer-content h4 {
    color:#fff;
}
.footer-content p {
    color:#c7a17a;
}
.footer-content input {
    width:100%;
    padding:1em;
    display:block;
}
.footer-content input[type="submit"] {
    width:auto;
}

#footer-social {
    background-color:#19100F;
    color:#fff;
    overflow:auto;
    padding:1em 0;
}
#footer-social img {
    height:1.5em;
}
#footer-social h3 {
    text-transform:uppercase;
}
.social-widget {
    float:left;
    width:33.33%;
    text-align:center;
}
